{{#link-to 'admin.artist' this.artist tagName="div" classNames="content"}}
  <img class="right floated small ui image" src="{{this.artist.featureImage}}">
  <!--<div class="header">{{this.artist.name}}</div>-->
  <!--<div class="meta">-->
    <!--<p>{{this.artist.images.length}} images</p>-->
    <!--<p>{{this.artist.exhibitions.length}} exhibitions</p>-->
  <!--</div>-->
  <!--<div class="description">-->
    {{!--{{markdown-to-html markdown=this.artist.description}}--}}
  <!--</div>-->
{{/link-to}}
{{#link-to 'admin.artist' this.artist tagName="div" classNames="extra content"}}
  <span class="right floated">

  </span>
  <span>
    <h1 class="header">{{this.artist.name}}</h1>
    {{yield}}
  </span>
{{/link-to}}