<div class="row">
    <div class="col-xs-12">
        <h1>{{title}}</h1>
        <h2>&nbsp;by {{author}}&nbsp;&nbsp;<small class="text-muted">{{ago model.date}}</small></h2>
        <hr>
    </div>
    <div class="col-xs-6">
        <div class="intro lead">
            {{{markdown-to-html markdown=model.excerpt}}}
        </div>
    </div>
    <div class="col-xs-6">
        <img class="thumbnail" style="max-height: 250px;" src="{{model.image}}"/>
    </div>
    <div class="col-xs-12">
        {{{markdown-to-html markdown=model.body}}}
    </div>
</div>