<div class="ui padded grid">
  <div class="sixteen wide column" style="overflow: hidden !important;">
    <div class="ui horizontal scrolled list">
      {{#each model as |exhibition|}}
        <div class="item">
          <div class="ui card">
            <div class="image">
              <img class="" src="{{exhibition.image}}" alt="{{exhibition.description}}">
            </div>
            <div class="content">
              <a class="header">{{exhibition.title}}</a>
              <div class="meta">
                <span class="date">{{exhibition.subtitle}}</span>
              </div>
              <div class="description">
                {{exhibition.description}}
              </div>
            </div>
            {{#if session.isAuthenticated}}
              <div class="extra content">
                {{#link-to 'admin.artist' exhibition.artist classNames=""}}edit{{/link-to}}
              </div>
            {{/if}}

          </div>
        </div>
      {{/each}}
    </div>

    <div class="horizontal scrolled outer">

      <div class="horizontal scrolled inner">

        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>

        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>

      </div>

    </div>



  </div>
</div>
