


<div class="ui grid">
  <div class="ui row">
    <div class="five wide column">
      {{#link-to 'admin.artists' classNames="ui small button"}}
        <i class="arrow left icon"></i>
        <span>artists</span>
      {{/link-to}}
      &nbsp;
      <button class="ui button" {{action 'update' model}}>
          Update Artist
      </button>
    </div>
  </div>
  <div class="ui row">
    <div class="sixteen wide column">
      <div class="ui form">
        <div class="ui dividing header">artist profile</div>
        <div class="two fields">
          <div class="field">
            {{artist-card artist=model}}
          </div>
          <div class="field">
            <label>Name</label>
            {{input type="text" value=model.name class=''}}
            <label>Order</label>
            {{input type="text" value=model.order class=''}}
            <label>Featured Image</label>
            {{ember-selectize
              content=controller.model.allArtistImages
              value=model.featureImage
              optionValuePath="content.fullUrl"
              optionLabelPath="content.fullTitle"
            }}
          </div>
        </div>
      </div> {{!-- <div class="ui form"> --}}
    </div>
  </div>

  <div class="ui row">
    <div class="sixteen wide column">
      <div class="ui form">
        <div class="ui dividing header">artist images</div>
        {{partial "admin/artist/view-images-form"}}
      </div> {{!-- <div class="ui form"> --}}
    </div>
  </div>
  {{!-- exhibitions section --}}
  <div class="ui row">
    <div class="sixteen wide column">
      <div class="ui form">
        <div class="ui dividing header">artist exhibitions</div>
        {{partial "admin/artist/view-exhibitions"}}
      </div> {{!-- <div class="ui form"> --}}
    </div>
  </div>
  {{!-- description editor --}}
  <div class="ui row">
    <div class="sixteen wide column">
      <div class="ui form">
        <div class="ui dividing header">artist description</div>
        <div class="two fields">
            <div class="field">
                <label>Edit Here</label>
                <div class="ui segment">{{textarea value=model.description class='' rows="20"}}</div>
            </div>
            <div class="field">
                <label>Preview</label>
                <div class="ui segment">{{markdown-to-html markdown=model.description}}</div>
            </div>
        </div>
      </div> {{!-- <div class="ui form"> --}}
    </div>
  </div>
  {{!-- statement editor --}}
  <div class="ui row">
    <div class="sixteen wide column">
      <div class="ui form">
        <div class="ui dividing header">artist statement</div>
        <div class="two fields">
            <div class="field">
                <label>Edit Here</label>
                <div class="ui segment">{{textarea value=model.statement class='' rows="20"}}</div>
            </div>
            <div class="field">
                <label>Preview</label>
                <div class="ui segment">{{markdown-to-html markdown=model.statement}}</div>
            </div>
        </div>
      </div> {{!-- <div class="ui form"> --}}
    </div>
  </div>
  {{!-- bio editor --}}
  <div class="ui row">
    <div class="sixteen wide column">
      <div class="ui form">
        <div class="ui dividing header">artist bio</div>
        <div class="two fields">
            <div class="field">
                <label>Edit Here</label>
                <div class="ui segment">{{textarea value=model.bio class='' rows="20"}}</div>
            </div>
            <div class="field">
                <label>Preview</label>
                <div class="ui segment">{{markdown-to-html markdown=model.bio}}</div>
            </div>
        </div>
      </div> {{!-- <div class="ui form"> --}}
    </div>
  </div>
  {{!-- press section --}}
  <div class="ui row">
    <div class="sixteen wide column">
      <div class="ui form">
        <div class="ui dividing header">artist press</div>
        <div class="two fields">
            <div class="field">
                <label>Edit Here</label>
                <div class="ui segment">{{textarea value=model.press class='' rows="20"}}</div>
            </div>
            <div class="field">
                <label>Preview</label>
                <div class="ui segment">{{markdown-to-html markdown=model.press}}</div>
            </div>
        </div>
      </div> {{!-- <div class="ui form"> --}}
    </div>
  </div>

</div>
{{outlet}}
