<div class="row">
  {{#link-to 'admin.posts.new' classNames="btn btn-default"}}
    New Post
  {{/link-to}}
</div>
<div class="row">{{outlet}}</div>
<div class="row">
    <table class="table table-condensed">
        <thead>
            <th>Post Title</th>
            <th>Slug</th>
            <th>Date</th>
            <th>Feature Image</th>
            <th>excerpt</th>
            <th>Actions</th>
        </thead>
        <tbody>
        {{#each model as |post|}}
            <tr>
                <td>{{post.title}}</td>
                <td>{{post.slug}}</td>
                <td>{{ago post.date}}</td>
                <td><img src="{{post.image}}" class="img-preview-small" /></td>
                <td>{{post.excerpt}}</td>
                <td>
                    {{#link-to 'admin.post' post classNames="btn btn-default btn-sm"}}
                        <span class="glyphicon glyphicon-edit"></span>
                    {{/link-to}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
