<div class="ui row">
    <div class="caption">
        <button class="ui small button" {{action 'createNewExhibition'}}>new exhibition</button>
    </div>
    <div class="image-editor-container">
        {{outlet}}
    </div>
    <div class="ui cards">
        {{#each model.exhibitions as |exhibition|}}
          <div class="card">
            {{image-preview src=exhibition.image title=exhibition.description alt=exhibition.description}}
            <div class="content">
              <div class="header">image.title</div>
              {{!-- <div class="meta">
                <a>Friends</a>
              </div> --}}
              <div class="description">
                <p>{{exhibition.title}}</p>
                <p>{{exhibition.description}}</p>
                <p>{{exhibition.order}}</p>
              </div>
            </div>
            <div class="extra content">
              <span class="right floated">
                <button class="ui small button" {{action 'delete' exhibition}}>delete</button>
              </span>
              <span>
                {{#link-to 'admin.artist.exhibition.edit' exhibition classNames='ui small button'}}edit{{/link-to}}
              </span>
            </div>
          </div>
        {{/each}}
    </div>
</div>
