<div class="row">
    <div class="col-md-12">
        <div class="col-md-4 text-left">
            <h1>Blog</h1>
            <ul class="list-unstyled blog-list">
                {{#each model as |post|}}
                    <li>
                        {{#link-to 'blog.post' post}}
                            <p>{{post.title}}&nbsp;<small class="text-muted">by {{post.author}} {{ago post.date}}</small></p>
                            <p>{{{post.excerpt}}}</p>
                        {{/link-to}}
                        <hr>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-md-8">
            <div class="post-content">
                {{outlet}}
            </div>
        </div>
    </div>
</div>
