<h1>Event Manager</h1>
{{outlet}}
<div class="row">
    <div class="col-xs-12">
        {{#link-to 'event-manager.new' classNames="btn btn-default btn-sm"}}New Event{{/link-to}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-condensed">
            <thead>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Description</th>
                <th>Image Path</th>
                <th>Order</th>
                <th>Actions</th>
            </thead>
            <tbody>
            {{#each model as |event|}}
                <tr>
                    <td>{{event.title}}</td>
                    <td>{{event.subtitle}}</td>
                    <td>{{event.description}}</td>
                    <td>{{event.image}}</td>
                    <td>{{event.order}}</td>
                    <td>{{#link-to 'event-manager.edit' event}}<span class="glyphicon glyphicon-edit"></span>{{/link-to}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>

