
<h3>This page will have restricted access</h3>

<div class="line-after">
    <h2>Manage Pages</h2>
</div>
<div class="row">
    {{#link-to 'pages.new' classNames='btn btn-sm btn-default'}}Create new page{{/link-to}}
</div>
<div class="row">
    {{outlet}}
</div>
<div class="row">
    <div class="col-xs-12" style="">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>title</th>
                <th>slug</th>
                <th>nav label</th>
                <th>layout</th>
                <th>excerpt</th>
                <!--<th>body</th>-->
                <th>order</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>

            {{#each model as |page|}}
                <tr>
                    <th>
                        <p>{{page.title}}</p>
                    </th>
                    <th>
                        <p>{{page.slug}}</p>
                    </th>
                    <th>
                        <p>{{page.navLabel}}</p>
                    </th>
                    <th>
                        <p>{{page.layout}}</p>
                    </th>
                    <th>
                        <p>{{page.excerpt}}</p>
                    </th>
                    <!--<th>-->
                        <!--<p>{{page.body}}</p>-->
                    <!--</th>-->
                    <th>
                        <p>{{page.order}}</p>
                    </th>
                    <th>
                        {{#link-to 'pages.edit' page classNames='btn btn-sm btn-default'}}
                            <span class="glyphicon glyphicon-edit"></span>
                        {{/link-to}}
                    </th>
                </tr>

            {{/each}}

            </tbody>
        </table>


    </div>
</div>

