<div class="line-after">
    <h2>Gallery 13 Artists</h2>
</div>
<div class="row">
    <div class="col-xs-12" style="">
        <div class="col-sm-4 col-sm-offset-1-no">
            <ul class="list-unstyled artists-list">

                {{#each model as |artist|}}
                    <li {{action 'showFeaturedArtistImage' artist on='mouseEnter'}} >
                        {{#link-to 'artist' artist}}
                            {{artist.name}}
                        {{/link-to}}
                    </li>
                {{/each}}
                <li>
                    <!--<button {{action 'createNew'}} ></button>-->
                    {{#link-to 'artists.new' classNames="btn btn-sm btn-default"}}add new artist{{/link-to}}
                </li>
            </ul>
        </div>
        <div class="col-sm-7 col-sm-offset-1">
            <div class="featured-image">
                <img {{bind-attr src=featuredArtistImage}} class="img-responsive"/>
                <div class="well-sm">
                    <p>{{markdown-to-html markdown=featuredArtistCaption}}</p>
                </div>
            </div>
            {{outlet}}
        </div>

    </div>
</div>