<form class="form-horizontal">
    <div class="form-group">
        <label for="identification">Name</label>
        {{input type="text" value=name class='form-control'}}
    </div>
    <div class="form-group">
        <!-- todo: make slug a read only auto generated property that is the lower cased and dashed version of the name -->
        <label for="slug">Slug</label>
        {{input type="text" value=slug class='form-control'}}
    </div>
    <div class="form-group">
        <label for="featureImage">Featured Image</label>
        {{input type="text" value=featureImage class='form-control'}}
        <img src="{{model.featureImage}}" class="img-preview-small" />
    </div>
    <div class="form-group">
        <label for="order">Order</label>
        {{input type="text" value=model.order class='form-control'}}
    </div>
</form>