<form class="form-horizontal">
    <p>Editing image {{model.id}}</p>
    <div class="form-group">
        <label for="title">Title</label>
        {{input type="text" value=model.title class='form-control'}}
    </div>
    <div class="form-group">
        <label for="path">Path</label>
        {{input type="text" value=model.path class='form-control'}}
        {{ember-filepicker }}
        <!--options=options onSelection='fileSelected' onClose='onClose' onError='onError' -->
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        {{input type="text" value=model.description class='form-control'}}
    </div>
    <div class="form-group">
        <label for="order">Order</label>
        {{input type="text" value=model.order class='form-control'}}
    </div>
    <button class="btn btn-default" {{action 'update' model}}>Update</button>
    <button class="btn btn-default" {{action 'delete' model}}>Delete</button>
</form>
{{outlet}}
