<div class="row">
    <div class="caption">
        <h2>Artist Images</h2>
        {{#link-to 'admin.artist.images.new' class="btn btn-default"}}New Artist Image{{/link-to}}
        <hr>
    </div>
    <div class="image-editor-container">
        {{outlet}}
    </div>
    <div class="image-row">
        {{#each model.images as |image|}}

            <div class="image-preview-container">
                <div class="image-preview">
                    <img src={{image.fullUrl}} alt={{image.description}} class="img-thumbnail img-preview" title={{image.fullUrl}} />
                </div>
                <div class="border">
                    <h3>{{image.title}}</h3>
                    <p>{{image.description}}</p>
                </div>
                <div class="controls">
                    <hr>
                    {{#link-to 'admin.artist.edit-image' image classNames='btn btn-default'}}edit{{/link-to}}
                    <button class="btn btn-default" {{action 'delete' image}}>delete</button>
                </div>
            </div>

        {{/each}}
    </div>
</div>