<div class="row">
    <div class="caption">
        <h2>Artist Exhibitions</h2>
        <button class="btn btn-default" {{action 'createNewExhibition'}}>new exhibition</button>
    </div>
    <div class="image-editor-container">
        {{outlet}}
    </div>
    <div class="image-row">
        {{#each model.exhibitions as |exhibition|}}

            <div class="image-preview-container">
                <div class="image-preview">
                    <img {{bind-attr src=exhibition.image}} {{bind-attr alt=exhibition.description}} class="img-thumbnail img-preview"/>
                </div>
                <div class="border">
                    <h3>{{exhibition.title}}</h3>
                    <p>{{exhibition.description}}</p>
                    <p>{{exhibition.order}}</p>
                </div>
                <div class="controls">
                    <hr>
                    {{#link-to 'admin.artist.edit-exhibition' exhibition classNames='btn btn-default'}}edit{{/link-to}}
                    <button class="btn btn-default" {{action 'delete' exhibition}}>delete</button>
                </div>
            </div>

        {{/each}}
    </div>
</div>