<div class="row">
    <div class="caption">
        <h2>Artist Images</h2>
        <button class="btn btn-default">new artist image</button>
        <hr>
    </div>
    <div class="image-editor-container">
        {{outlet}}
    </div>
    <div class="image-row">
        {{#each model.images as |image|}}

            <div class="image-preview-container">
                <div class="image-preview">
                    <img {{bind-attr src=image.path}} {{bind-attr alt=image.description}} class="img-thumbnail img-preview"/>
                </div>
                <div class="border">
                    <h3>{{image.title}}</h3>
                    <p>{{image.description}}</p>
                </div>
                <div class="controls">
                    <hr>
                    <button class="btn btn-default">edit</button>
                    <button class="btn btn-default">delete</button>
                </div>
            </div>

        {{/each}}
    </div>
</div>