<form class="form-horizontal">
<div class="col-xs-9" style="">

    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
            {{input value=model.title class="form-control" placeholder="the title"}}
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Subtitle</label>
        <div class="col-sm-10">
            {{input value=model.subtitle class="form-control" placeholder="the subtitle"}}
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">description</label>
        <div class="col-sm-10">
            {{input value=model.description class="form-control" placeholder="this event is going to be so great."}}
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Featured Image</label>
        <div class="col-sm-10">
            {{input value=model.image class="form-control" placeholder="relative path to the image: /images/my-image.png"}}
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">order</label>
        <div class="col-sm-10">
            {{input value=model.order class="form-control" placeholder="a number"}}
        </div>
    </div>
    <button class="btn btn-default" {{action 'update' model}}>Update</button>
    <button class="btn btn-default" {{action 'delete' model}}>Delete</button>
    <button class="btn btn-default" {{action 'cancel' model}}>Cancel</button>
</div>
<div class="col-xs-9" style="">
    {{#link-to 'event-manager.edit.images.new' classNames='btn btn-default btn-sm'}}New Image{{/link-to}}
    <ul>
    {{#each model.images as |image|}}
        <li>
            <div>
                {{image.title}}
                <hr>
                <img src="{{image.path}}" class="img-responsive img-preview" />
            </div>
        </li>
    {{/each}}
    </ul>
</div>
</form>