<div class="ui centered grid">
  <div class="fourteen wide column">
    <h2>EVENTS</h2>
  </div>
  <div class="fourteen wide column">
    <div class="ui feed">
    {{#each model as |event|}}
      <div class="event">
        <div class="label">
          <img src="{{event.image}}">
        </div>
        <div class="content">
          <div class="summary">
            <a class="user">
              {{event.title}}
            </a>
            <div class="date">
              {{ago event.date}}
            </div>
            {{event.subtitle}}
          </div>
          <div class="meta">
            {{event.description}}
          </div>
        </div>
      </div>
    {{/each}}
    </div>
  </div>
</div>
