<div class="ui grid">
  <h1 class="header">Event Manager</h1>
  <div class="sixteen wide column">
    {{#link-to 'admin.events.new' classNames="ui small button"}}New Event{{/link-to}}
  </div>
  <div class="sixteen wide column">
    {{outlet}}
  </div>
  <div class="sixteen wide column">
    <table class="ui celled striped table">
      <thead>
        <th>Slug</th>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Description</th>
        <th>Image Path</th>
        <th>Date</th>
        <th>Order</th>
        <th>Actions</th>
      </thead>
      <tbody>
      {{#each model as |event|}}
        <tr>
          <td>{{event.slug}}</td>
          <td>{{event.title}}</td>
          <td>{{event.subtitle}}</td>
          <td>{{event.description}}</td>
          <td>{{event.image}}</td>
          <td>{{event.date}}</td>
          <td>{{event.order}}</td>
          <td>
            {{#link-to 'admin.events.edit' event classNames='ui icon button'}}
              <i class="edit icon"></i>
            {{/link-to}}

          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
