<form class="form-horizontal">
    <p>Editing exhibition {{model.id}}</p>
    <div class="form-group">
        <label for="title">Title</label>
        {{input type="text" value=model.title class='form-control'}}
    </div>
    <div class="form-group">
        <label for="subtitle">sub title</label>
        {{input type="text" value=model.subtitle class='form-control'}}
    </div>
    <div class="form-group">
        <label for="image">Image</label>
        {{!-- {{input type="text" value=model.image class='form-control'}} --}}
        {{ember-selectize
          content=controller.images
          value=model.image
          optionValuePath="content.fullUrl"
          optionLabelPath="content.path"
        }}
    </div>

    {{#if model.image}}
      {{image-preview src=model.image title=model.image alt='Image Preview'}}
    {{/if}}

    <div class="form-group">
        <label for="description">Description</label>
        {{input type="text" value=model.description class='form-control'}}
    </div>
    <div class="form-group">
        <label for="order">Order</label>
        {{input type="text" value=model.order class='form-control'}}
    </div>
    <button class="btn btn-default" {{action 'update' model}}>Update</button>
    <button class="btn btn-default" {{action 'delete' model}}>Delete</button>
</form>
{{outlet}}